/*Chrome leaves a gap at bottom for non nice numbers of squares*/
#wrapper{
    margin; auto;
    width: 600px;
    height: 800px;
}

#grid {
    border: 5px solid gray;
    background-color: white;
}

#controls{
    inline: block;
}

.square {
	border: 1px solid gray;
	float: left;
	box-sizing: border-box;
}