#wrapper{
    margin; 10px auto;
    width: 960px;
    height: 960px;
}

#grid {
    border: 5px solid gray;
    background-color: white;
}

#controls{
    inline: block;
}

.square {
	border: 1px solid gray;
	float: left;
	box-sizing: border-box;
}