#wrapper{
	width: 960px;
	height: 960px;
	border: 5px solid black;
	margin; 10px auto;
	background-color: blue;
}

.square {
	border: 1px solid black;
	float: left;
	box-sizing: border-box;
}

.highlighted{
	background-color: yellow;
}